
mixin footer()
  footer.footer.section
    .footer__top
      .container.row
        .footer__column.footer__column--info
          .footer__column-header ООО «KA12»
          .footer-info
            .footer-info__header Мы всегда рады видеть вас в нашем офисе
            .footer-info__description Качество, надежность, долговечность и обслуживание.
            address.address.footer-info__address
              .address__item
                .address__icon
                  +icon('icon-address-place')
                .address__content Адрес: 
                  b 107031, Россия, Москва, ул Большая Дмитровка, д 32/4
              .address__item
                .address__icon
                  +icon('icon-address-phone')
                .address__content 
                  .address__content-box Телефон: 
                    a(href="tel:+74954143290") +7 495 414-32-90
                  .address__content-box Телефон: 
                    a(href="tel:+79258008785") +7 925 800-87-85
              .address__item
                .address__icon
                  +icon('icon-address-email')
                .address__content Email: 
                  a(href="mailto:sale@ka12.co") sale@ka12.co
        .footer__column.footer__column--social
          .footer__column-header Мы в соцсетях
          ul.footer-menu
            +footer-menu-item-new-page('Vk')
            +footer-menu-item-new-page('Youtube')
        .footer__column.footer__column--company
          .footer__column-header О компании
          ul.footer-menu
            +footer-menu-item('О компании')
            +footer-menu-item('Миссия')
        .footer__column.footer__column--add
          .footer__column-header Дополнительно
          ul.footer-menu
            +footer-menu-item('Политика конфиденциальности')
    .footer__bottom
      .container.row.row--align-center
        .footer-logo.footer__logo ООО «KA12»
        // list social
        ul.list-social.footer__social
          +list-social-item('icon-social-yo')
          +list-social-item('icon-social-tg')
          +list-social-item('icon-social-vk')

mixin footer-menu-item(name)
  li.footer-menu__item
    a(href="#" class="footer-menu__link")= name

mixin footer-menu-item-new-page(name)
  li.footer-menu__item
    a(href="#" class="footer-menu__link" target="_blank")= name

mixin list-social-item(icon)
  li.list-social__item
    a(href="#" class="list-social__link" target="_blank")
      +icon(icon)
