
mixin nav(className)
  nav(class=`nav ${className}`)
    - var navList = ['Тарифы', 'Лицензии', 'Решения', 'Команда', 'О компании', 'Контакты']
      each item in navList
        a(href='#' class="nav__item")= item

mixin navAncor(className)
  nav(class=`nav ${className}`)
    - var navList = [['ancor', 'name']]
      each item in navList
        a(href=`#${item[0]}` class="nav__item")= item[1]