
mixin slider
  .slider-name.swiper.js-slider-name
    .swiper-wrapper
      +slider-name-slide('')

    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next

mixin slider-name-slide(imgName)
  .swiper-slide
    .slider-name__item
      .swiper-slide__img
        img(src=`img/${imgName}.webp` alt="")