@font-face {
	 font-family: Inter-Bold;
	 font-display: swap;
	 src: url("../fonts/Inter-Bold.woff2") format("woff2"),url("../fonts/Inter-Bold.woff") format("woff");
	font-weight: Bold;
	 font-style: normal;
}
@font-face {
	 font-family: Inter-Regular;
	 font-display: swap;
	 src: url("../fonts/Inter-Regular.woff2") format("woff2"),url("../fonts/Inter-Regular.woff") format("woff");
	font-weight: Regular;
	 font-style: normal;
}
@font-face {
	 font-family: Montserrat-Black;
	 font-display: swap;
	 src: url("../fonts/Montserrat-Black.woff2") format("woff2"),url("../fonts/Montserrat-Black.woff") format("woff");
	font-weight: Black;
	 font-style: normal;
}
@font-face {
	 font-family: Montserrat-Bold;
	 font-display: swap;
	 src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),url("../fonts/Montserrat-Bold.woff") format("woff");
	font-weight: Bold;
	 font-style: normal;
}
@font-face {
	 font-family: Montserrat-Regular;
	 font-display: swap;
	 src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),url("../fonts/Montserrat-Regular.woff") format("woff");
	font-weight: Regular;
	 font-style: normal;
}
