@mixin respond($media) {
  @media only screen and #{$media} {
    @content;
  }
}

@mixin fontFamily($size, $family) {
  font-family: $family;
  font-size: $size;
}

@mixin content($content: "", $display: block, $left, $top) {
  content: $content;
  display: $display;
  position: absolute;
  left: $left;
  top: $top;
}

@mixin alignJustify($direction: row, $alignItems: flex-start, $justify: flex-start) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $alignItems;
}

@mixin blockAuto($width, $marginTop: false) {
  width: $width;
  margin-inline: auto;
  
  @if $marginTop {
    margin-top: $marginTop
  }
}

@mixin textOverflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}
